<div class="columns mt-5">

  <!-- LEFT SIDE -->
  <div class="column is-two-thirds">
    <div class="columns is-multiline">
    <!-- Alert Banner -->
      <div class="column">
        <div class="box has-shadow" style="padding: 0;">
          <%= image_tag "/banner_alert.svg", style: "width: 60px; height: 60px; display: inline-block; float: left" %>
            <span style="font-size: 3em; font-weight: bold;">COVID19</span>
          <div class="has-background-warning">
            <p style="padding: 0.5em 1em;">As of June 1, 2020, COVID19 continues to impact in person meetings and events. 
            Please inquire with the Host directly regarding booking and availability</p>
          </div>
        </div>
      </div>
    <!-- Alert Banner End -->
      <!-- Carousel -->
      <div class="column is-full">
        <div class="card is-shadowless">
          <div class="hero-carousel" id="carousel-photo" style="overflow:hidden;">
            <% @photos.each do |photo| %>
              <div class="carousel-item has-background image is-16by9">
                <%= image_tag photo.image.url(:cover), class: "is-background cover", width: "100%" %>
              </div>
            <% end %>
            <% if @space.video_embed.present? %>
              <div class="video-container">
                <iframe src="<%= @space.video_embed %>" frameborder="0"></iframe>
              </div>
            <% end %>
            <% if !@space.tour_embed.nil? %>
              <div class="video-container">
                <h3>3D Tour</h3>
                <iframe src='<%=@tour_embed%>' frameborder='0' allowfullscreen="allowfullscreen" allow='vr'></iframe>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Space Title -->
      <div class="column is-full">
        <div class="card is-shadowless">
          <div class="card-content pt-0 pb-0">
            <div class="content">
              <span>
                <div class="columns mb-0">
                  <div class="column is-10 pb-0">
                    <h1 class="title is-2 mb-2"><%= @space.title %></h1>
                  </div>
                  <div class="column is-2 pb-0 has-text-right">
                    <div id="favourites" class="column">
                      <%= render partial: 'spaces/favourites' %>
                    </div>
                  </div>
                </div>
              </span>
              <p class="mb-0"><%= @space.address %></p>
              <% if !@space.sqft.nil? %>
                <p><%= @space.sqft %> Square Feet</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Space Info -->
      <div class="column is-full">
        <div class="columns has-text-centered">
          <div class="column">
            <i class="fas fa-home fa-3x icon-green"></i><br>
            <%= @space.listing_category %>
          </div>
          <div class="column">
            <i class="fas fa-user fa-3x icon-green"></i><br>
            <%= pluralize(@space.capacity, "Guest") %>
          </div>
          <div class="column">
            <i class="fas fa-car fa-3x icon-green"></i><br>
            <%= @space.parking %>
            Parking
          </div>
        </div>
      </div>

      <!-- About the Space -->
      <div class="column is-full">
        <div class="card is-shadowless">
          <div class="card-content pt-0">
            <div class="content">
              <h3 class="title is-3">About this Listing</h3>
              <%= simple_format(@space.description) %>
              <% if !@space.availability_text.blank? %>
                <h3 class="title is-3 mt-6">Availability</h3>
                <%= simple_format(@space.availability_text) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Amenities -->
      <div class="column is-full">
        <div class="card is-shadowless">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-3">Amenities</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-multiline is-mobile">
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-wifi", @space.is_wifi) %><br>
          <%= @space.is_wifi ? "WiFi" : "No WiFi" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-utensils", @space.is_food) %><br>
          <%= @space.is_food ? "Food Available for Purchase" : "No Food Available" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-glass-martini", @space.is_alcohol) %><br>
          <%= @space.is_alcohol ? "Alcohol Available for Purchase" : "No Alcohol for Purchase" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-beer", @space.is_byob) %><br>
          <%= @space.is_byob ? "Alcohol Permitted (BYOB)" : "No Alcohol on Premises" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-truck", @space.is_catering) %><br>
          <%= @space.is_catering ? "Catering Permitted" : "Catering Not Available" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-coffee", @space.is_kitchen) %><br>
          <%= @space.is_catering ? "Kitchenette Available" : "No Kitchen" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-volume-up", @space.is_audio) %><br>
          <%= @space.is_audio ? "Audio Equipment" : "No Audio Equipment" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-desktop", @space.is_video) %><br>
          <%= @space.is_video ? "Visual Equipment" : "No Visual Equipment" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-wheelchair", @space.is_accessible) %><br>
          <%= @space.is_accessible ? "Wheelchair Accessible" : "Not Wheelchair Accessible" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-store-alt", @space.is_ground) %><br>
          <%= @space.is_ground ? "Ground Level" : "Not Ground Floor" %>
        </div>
        <div class="column is-6 has-text-centered">
          <%= binary_icon("fa-sun", @space.is_natural) %><br>
          <%= @space.is_natural ? "Natural Light" : "Limited Natural Light" %>
        </div>
      </div>

      <!-- Google Map -->
      <div class="column is-full">
        <div class="card is-shadowless">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-3">Location</h3>
            </div>
            <div id="map" style="width: 100%; height: 400px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
            <script>
              function initialize() {
                var location = {
                  lat: <%= @space.latitude %>,
                  lng: <%= @space.longitude %>
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                  center: location,
                  zoom: 14
                });
                var marker = new google.maps.Marker({position: location, map: map})
                var infoWindow = new google.maps.InfoWindow({content: '<div id="content"><%= image_tag @space.cover_photo(:thumb) %></div>'})
                infoWindow.open(map, marker);
              }
              google.maps.event.addDomListener(window, 'load', initialize);
            </script>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div id="reviews" class="column is-full">
        <div class="card is-shadowless">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-3">Reviews</h3>
            </div>
            <% if !@space.guest_reviews.any? %>
              <div class="has-text-centered">
                <p>There are no reviews yet.</p>
              </div>
            <% end %>
            <div><%= render "reviews/guest_list" %></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Right Panel -->
  <div class="column is-one-third">
    <% if user_signed_in? && @space.user_id == current_user.id %>
      <div class="card sticky has-text-centered is-shadowless">
        <%= link_to "Edit Listing", description_space_path, class: "button is-danger is-large" %>
      </div>
    <% else %>
    <div class="sticky">
      <% if @prices.length > 1 %>
        <div class="tabs is-fullwidth is-boxed mb-0" id="tabs">
          <ul>
            <% @prices.each_with_index do |price, index| %>
              <li class="tab <%= 'is-active' if index == 0 %>" data-tab="<%= price.price_type_id %>">
                <a><%= price.price_type_id.capitalize %></a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="tabs-content">
        <% @prices.each_with_index do |p, i| %>
          <div class="tab-content" id="tab-<%= p.price_type_id.to_s %>" style="<%='display: none;' if i > 0 && @prices.count > 1 %>" >
            <div class="card <%= 'is-shadowless is-reservation-form' if @prices.length > 1 %>">
              <header class="card-header is-shadowless">
                <div class="column is-multiline">
                  <h3 class="title is-6 pt-4 pl-4 pr-4 mb-0">Starting at...</h3>
                  <h2 class="title is-2 card-header-title mb-3">
                    $<%= '%.2f' % p.price %>
                    <span style="font-size: 12pt;">&nbsp;Per <%= p.price_type_id == 'daily' ? "Day" : "Hour" %></span>
                  </h2>
                  <h6 class="subtitle is-6">
                    <span style="cursor: pointer;"><span class="review-button star-review ml-3"></span></span>
                    <span class="review-button" style="color: #4a4a4a; height: 16px; line-height: 16px; cursor: pointer;">(<%= @guest_reviews.count %>)</span>
                  </h6>
                </div>
              </header>
              <div class="card-content">
                <% if user_signed_in? %>

                  <%= form_with(url:[@space, @space.reservations.new], local: true, html: {id: p.price_type_id + "_form" }) do |f| %>
                    <%= hidden_field_tag 'price_type', p.price_type_id %>
                    <div id="alert-message" class="alert alert-danger text-center hidden"></div>
                    <div id="datepicker-container">
                      <% if p.price_type_id == 'daily' %>
                        <%= text_field_tag :date_range, readonly: true, class: "input daterangepicker" %>
                      <% else %>
                        <%= text_field_tag :date, readonly: true, class: "input datepicker" %>
                      <% end %>
                    </div>
                    <% if p.price_type_id == 'hourly' %>
                      <div id="timepicker-container" class="mt-3">
                        <%= text_field_tag :time, readonly: false, class: "input timepicker" %>
                      </div>
                    <% end %>
                    <h4 class="message-alert text-center">
                      <span id="<%= p.price_type_id %>message"></span></h4>
                    <div id="<%= p.price_type_id %>preview" style="display: none;">
                      <div class="card is-shadowless">
                        <div class="card-content">
                          <div class="content">
                            <div class="columns is-multiline is-mobile">
                              <div class="column is-half">
                                <p>Price</p>
                              </div>
                              <div class="column is-half has-text-right">
                                <p>$<%= "%.2f" % p.price %></p>
                              </div>
                              <hr class="y-1">
                              <div class="column is-half">
                                <p><%= p.price_type_id == 'hourly' ? 'Hours' : 'Days' %></p>
                              </div>
                              <div class="column is-half has-text-right">
                                <p>x <span id="<%= p.price_type_id %>_reservation_term"></span></p>
                              </div>
                              <hr class="y-1">
                              <!-- <div id="special_details">
                                <div class="column is-half">
                                  <p>Specials Price</p>
                                </div>
                                <div class="column is-half has-text-right">
                                  <ul id="special_list"></ul>
                                </div>
                                <hr class="y-1">
                              </div> -->
                              <div class="column is-half">
                                <p class="title is-3">Total</p>
                              </div>
                              <div class="column is-half has-text-right">
                                <p class="title is-3">$<span id="<%= p.price_type_id %>_reservation_total" ></span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="is-fullwidth has-text-centered mt-3 mb-2">
                      <%= hidden_field(:reservation, :start_date, :id => "reservation_start_date_#{p.price_type_id}") %>
                      <%= hidden_field(:reservation, :end_date, :id => "reservation_end_date_#{p.price_type_id}") %>
                      <%= f.submit "Request Now", id: p.price_type_id + "_btn_book", class: "button is-danger is-large" %>
                    </div>
                  <% end %>
                  <% else %>
                  <div class="has-text-centered">
                    <%= link_to "Log In to Book", '#', "data-target"=>"modaldeviselogin", class: "button modal-button is-medium is-danger" %>
                  </div>
                <% end %>
                <div class="column is-full has-text-centered">
                  <p>
                    Need more info?<br><%= link_to "Send #{@space.user.fullname} a message.", conversations_path(sender_id: current_user, recipient_id: @space.user), method: :post %>
                  </p>
                  <div class="image has-image-centered is-48x48 mt-3">
                    <%= link_to (image_tag avatar_url(@space.user), class: "is-rounded"), user_path(@space.user) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

</div>

<div class="column is-12 has-text-centered">
  <hr/>
  <p class="title is-4">Still can't find what you're looking for?</p>
  <p>
    <a class="button is-primary is-medium" href="https://docs.google.com/forms/d/e/1FAIpQLSfZMILgqOHqT_VnKtzzaKMUHBpT85kx-PGeYGr6UdxFOgtYkw/viewform" target="_blank">Tell us what you need</a>
  </p>
</div>
<%= render 'shared/booking_date_warning' %>

<script>
  $(document).ready(function () {

    $('#tabs li').on('click', function () {
      var type = $(this).data('tab');

      $('#tabs li').removeClass('is-active');
      $(this).addClass('is-active');

      $('.tab-content').hide();
      $('#tab-' + type).show();
      history.replaceState({page_type: type}, document.title, "?price_type=" + type);
    });
    <% if has_price_type %>
      $("[data-tab='<%= price_type %>']").click();
      // Hiding the clear (cross) button of the datetimepicker.
      $('.datetimepicker-clear-button').hide();
    <% else %>
      // Hiding the clear (cross) button of the datetimepicker.
      $('.datetimepicker-clear-button').hide();
    <% end %>
  });

  var start_time = 0;
  var end_time = 0;

  <% if @space.has_active_daily_price %>
    var daily_range = bulmaCalendar.attach('#date_range', {
      type: 'date',
      color: 'danger',
      isRange: true,
      displayMode: 'default',
      showHeader: false,
      dateFormat: 'DD MMM YYYY',
      minDate: new Date(),
      labelFrom: 'From',
      labelTo: 'To',
      showButtons: false,
      showFooter: false
    });
    var element = document.querySelector('#date_range');
    if (element) {
    	element.bulmaCalendar.on('select', function(daterangepicker) {
        today = new Date();
        today_date = new Date(today.setHours(0, 0, 0, 0));
        input_start_date = daterangepicker.data.startDate;
        start_date = new Date(input_start_date.setHours(0, 0, 0, 0));
        input_end_date = daterangepicker.data.endDate;
        end_date = new Date(input_end_date.setHours(23, 59, 59, 0));
        var days = ((end_date - start_date) + 1000) / 1000 / 24 / 60 / 60;
        var start_days_count = Math.floor(((start_date - today_date) + 1000) / 1000 / 24 / 60 / 60);
        var end_days_count = Math.floor(((end_date - today_date) + 1000) / 1000 / 24 / 60 / 60);
        if (start_days_count > 90 || end_days_count > 90) {
          var rootEl = document.documentElement;
          rootEl.classList.add("is-clipped");
          var target = "dateWarningModal";
          var $target = document.getElementById(target);
          var toggle = "undefined";
          var $toggle = document.getElementById(toggle);
          openModal(rootEl, $target, $toggle);
        } else {
          specialCheck(start_date, end_date, days, 'daily');

          $('#reservation_start_date_daily').val(start_date);
          $('#reservation_end_date_daily').val(end_date);
          $('#daily_reservation_term').text(days);
          $('#daily_reservation_total').text((days * <%= @prices.where("price_type_id = ?", 2).first.price %>).toFixed(2));
        }
    	});
    }
  <% end %>
  <% if @space.has_active_hourly_price %>
    var hourly_date = bulmaCalendar.attach('#date', {
      type: 'date',
      color: 'danger',
      isRange: false,
      displayMode: 'default',
      showHeader: false,
      dateFormat: 'DD MMM YYYY',
      minDate: new Date(),
      labelFrom: 'Select Date',
      showFooter: false
    });
    var hourly_time = bulmaCalendar.attach('#time', {
      type: 'time',
      color: 'danger',
      isRange: true,
      displayMode: 'default',
      validateLabel: 'OK',
      showClearButton: false,
      minuteSteps: 15,
      showFooter: true
    });
    var dateElement = document.querySelector('#date');
    if (dateElement) {
    	dateElement.bulmaCalendar.on('select', function(datepicker) {
        input_date = datepicker.data.startDate;
        start_time = (start_time === 0) ? new Date(input_date.setHours(9, 0, 0, 0)) : start_time;
        end_time = (end_time === 0) ? new Date(input_date.setHours(17, 0, 0, 0)) : end_time;
        var hours = (end_time - start_time) / 1000 / 60 / 60;
        today = new Date();
        today_date = new Date(today.setHours(0, 0, 0, 0));
        var start_days_count = Math.floor(((input_date - today_date) + 1000) / 1000 / 24 / 60 / 60);
        if (start_days_count > 90 ) {
          var rootEl = document.documentElement;
          rootEl.classList.add("is-clipped");
          var target = "dateWarningModal";
          var $target = document.getElementById(target);
          var toggle = "undefined";
          var $toggle = document.getElementById(toggle);
          openModal(rootEl, $target, $toggle);
          $("#date").val('');
        } else {
          specialCheck(start_time, end_time, hours, 'hourly');
          $('#reservation_start_date_hourly').val(start_time);
          $('#reservation_end_date_hourly').val(end_time);
          $('#hourly_reservation_term').text(hours);
          $('#hourly_reservation_total').text((hours * <%= @prices.where("price_type_id = ?", 1).first.price %>).toFixed(2));
        }
    	});
    }

    var timeElement = document.querySelector('#time');
    if (timeElement) {
    	timeElement.bulmaCalendar.on('select', function(timepicker) {
        var input_date = new Date(document.getElementById('date').value)
        var start_time_input = timepicker.data.startTime;
        var start_time_hours = start_time_input.getHours();
        var start_time_minutes = start_time_input.getMinutes();
        start_time = new Date(input_date.setHours(start_time_hours));
        start_time = new Date(start_time.setMinutes(start_time_minutes));
        var end_time_input = timepicker.data.endTime;
        var end_time_hours = end_time_input.getHours();
        var end_time_minutes = end_time_input.getMinutes();
        end_time = new Date(input_date.setHours(end_time_hours));
        end_time = new Date(end_time.setMinutes(end_time_minutes));
        if (end_time > start_time) {
          hours = (end_time - start_time) / 1000 / 60 / 60;
        } else {
          hours = (start_time - end_time) / 1000 / 60 / 60;
        }
        specialCheck(start_time, end_time, hours, 'hourly');
        $('#reservation_start_date_hourly').val(start_time);
        $('#reservation_end_date_hourly').val(end_time);
        $('#hourly_reservation_term').text(hours);
        $('#hourly_reservation_total').text((hours * <%= @prices.where("price_type_id = ?", 1).first.price %>).toFixed(2));
    	});
    }
  <% end %>

  var unavailableDates = [];
  var specialDates = [];

  function specialCheck(start_date, end_date, term, type) {

    var input = {
      'start_date': start_date,
      'end_date': end_date
    }

    $.ajax({
      url: '<%= preview_space_path(@space) %>',
      data: input,
      success: function (data) {

        if (data.conflict) {
          $('#' + type + 'message').text("These dates are not available");
          $('#' + type + 'preview').hide();
          $('#' + type + 'btn_book').attr('disabled', true);
        } else {
          $('#' + type + 'message').text("");
          $('#' + type + 'preview').show();
          $('#' + type + 'incomplete').hide();
          $('#' + type + 'btn_book').removeClass('hidden');
          $('#' + type + 'btn_book').attr('disabled', false);
          $('#' + type + 'alert-message').addClass('hidden')

          //----------- START NEW UPDATE

          // $('#special_list').empty();
          // var selectedDates = [];

          // Step 1: Create an array of selected dates
          // while (start_date <= end_date) {
          //   selectedDates.push($.datepicker.formatDate('d-m-yy', new Date(start_date)));
          //   start_date.setDate(start_date.getDate() + 1);
          // };

          // Step 2: Create an array of special dates
          // var selectedSpecialDate = specialDates.filter(function (sDate) {
          //   var d = $.datepicker.formatDate('d-m-yy', new Date(sDate.day));
          //   return selectedDates.indexOf(d) !== -1;
          // });
          //
          // var total = (term - selectedSpecialDate.length) * <%= @space.price %>;
          // if (selectedSpecialDate.length > 0) {
          //   $('#special_details').show();
          //
          //   selectedSpecialDate.map(function (date) {
          //     total += date.price
          //     $('#special_list').append('<li class="text-right">(' + date.day + '): $' + date.price + '</li>')
          //   });
          // } else {
          //   $('#special_details').hide();
          // }

          //----------- END NEW UPDATE

        }
      }
    });
  }

  $.ajax({
    url: '<%= preload_space_path(@space) %>',
    dateTyp: 'json',
    success: function (data) {

      specialDates = data.special_dates;

      $.each(data.reservations, function (arrID, arrValue) {
        for (var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
          unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
        }
      });

      $.each(data.unavailable_dates, function (arrID, arrValue) {
        unavailableDates.push($.datepicker.formatDate('d-m-yy', new Date(arrValue.day)));
      });

    }
  });
</script>

<script>
  $('.star-review').raty({readOnly: true, score: <%= @space.average_rating %>});
</script>

<script>
  <% if (@photos.length > 1 || @space.video_embed.present? || !@space.tour_embed.nil?) %>
    bulmaCarousel.attach('#carousel-photo', {
      slidesToScroll: 1,
      slidesToShow: 1,
      loop: true
    });
  <% else %>
    bulmaCarousel.attach('#carousel-photo', {
      navigation: false,
      navigationKeys: false
    });
  <% end %>
</script>

<script>
  $(".review-button").click(function() {
    $('html, body').animate({
        scrollTop: $("#reviews").offset().top - 40
    }, 700);
  });
</script>
