Hi <%= @recipient.fullname %>,
<br><br>
We hope your recent booking with <%= @guest.fullname %> was a success!
<br><br>
Please take a moment to leave a review of <%= @guest.fullname %> <%= link_to "here", bookings_url %>. <%= @guest.fullname %> will be doing the same for you.
<br><br>
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br>
515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br>
Check us out on
<a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>,
<a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and
<a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>
